html { background: #86B9E0; }

.App {
  text-align: center;
}

.App-title {
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

